<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    
    <title>About</title>
  </head>
  <body>
    {{>header}}
    <div class="screen">
      <img src="https://images.unsplash.com/photo-1722100351919-86ee668c88db?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw5fHx8ZW58MHx8fHx8" alt="">
    </div>
    {{>footer}}
  </body>
</html>